div.paretoproposal {
}

div.userproposal {
	/* width: 100%; */
	/* border: 1px solid black; */
}

div.paretoabstract {
	width: 95%;
}

div.paretotext {
	/* width: 95%; */
}

paretofulltext {
	/* width: 95%; */
}

#p_abstract_RTE {
	height: 400px;
}

#contentpage {
	z-index: -5000;
}

.tooltip {
	z-index: 6000;
}

