/* root element for tabs  */
ul.tabs {  
	margin:0 !important; 
	padding:0;
	height:30px;
	/*border-bottom:1px solid #b45f04;	 	*/
}

/* single tab */
ul.tabs li {  
	float:left;	 
	padding:0; 
	margin:0;  
	list-style-type:none;	
}

/* link inside the tab. uses a background image */
ul.tabs a { 
	float:left;
	font-size:13px;
	display:block;
	padding:5px 30px;	
	text-decoration:none;
	border:1px solid #b45f04;	
	border-bottom:0px;
	height:18px;
	background-color:#F7F7F7;
	color:#777;
	margin-right:2px;
	position:relative;
	top:1px;	
	outline:0;
	-moz-border-radius:4px 4px 0 0;	
}

ul.tabs a:hover {
	background-color:#CCFFFF;
	color:#333;
}
	
/* selected tab */
ul.tabs a.current {
	background-color:#cdffcc;
	border-bottom:1px solid #cdffcc;	
	color:#000;	
	cursor:default;
}

	
/* tab pane */
.panes div {
	display:none;
	border: solid #b45f04;
	border-width:0px 1px 1px 1px;
	min-height:150px;
	padding:15px 20px;
	background-color:#ddd;	
}

.bubblepanel {
	border: 0;
	margin: 0;
	padding: 0;
}

.bubblepanel.showbubbles {
	border: none;
	border-top:1px solid #B45F04;
}

/* #bubbletab {
	background-image: url(images/happy-face.png);
	background-repeat:no-repeat;
	background-position: 90% 40%;
	background-color: transparent;
} */